---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/3p9nYbFprckRkRxuCFVQcx/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQDoIHbutFl66vfjpfnzj76oDpDevqT0HqMZIBbPllk-KmY05M7VbqMoNwk-JAN3XqqVLpw5EE0R69RQiga3q52C7Jcx3pd7Z4ajkefuz15ud1bWwB683i7agHc92WqOMVAsjO99znYALeJympHuUQ7XSMlxpiF7FT7-3pF_eriVUxsvEp0AtO9FsFV_6_Jn
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/3p9nYbFprckRkRxuCFVQcx/albums?offset=0&limit=20&include_groups=album,single,compilation,appears_on",
          "items" : [ {
            "album_group" : "album",
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/3p9nYbFprckRkRxuCFVQcx"
              },
              "href" : "https://api.spotify.com/v1/artists/3p9nYbFprckRkRxuCFVQcx",
              "id" : "3p9nYbFprckRkRxuCFVQcx",
              "name" : "Colfax Speed Queen",
              "type" : "artist",
              "uri" : "spotify:artist:3p9nYbFprckRkRxuCFVQcx"
            } ],
            "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/50gel3tXRhgh6VOuTYyKS0"
            },
            "href" : "https://api.spotify.com/v1/albums/50gel3tXRhgh6VOuTYyKS0",
            "id" : "50gel3tXRhgh6VOuTYyKS0",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b273f2892be8c7580b4cd3a231c3",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e02f2892be8c7580b4cd3a231c3",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d00004851f2892be8c7580b4cd3a231c3",
              "width" : 64
            } ],
            "name" : "Dirty Mirror",
            "release_date" : "2019-10-16",
            "release_date_precision" : "day",
            "total_tracks" : 11,
            "type" : "album",
            "uri" : "spotify:album:50gel3tXRhgh6VOuTYyKS0"
          }, {
            "album_group" : "album",
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/3p9nYbFprckRkRxuCFVQcx"
              },
              "href" : "https://api.spotify.com/v1/artists/3p9nYbFprckRkRxuCFVQcx",
              "id" : "3p9nYbFprckRkRxuCFVQcx",
              "name" : [...]
[...]
