---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/3pwiEWINB62yhDUUODnHLj/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQAIJ8HsaN5CrY2kEopYq2Mc2dOvQpC-XesCuttVv78Oz_QJOAKNxIk2fzwAdD-UFbGErlaCJY_1cQFJcA-M0gQ2yg8-YeqF6tXq0J1Z4np9YY0x6xwcPGwIUnJu-SUdit6LZLhhZfTgj2t0cyG3N4BBi5JIBJ5rIn-xZ-8Ag_YJcwqiT_rbflPFYyF9aL2Q
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/3pwiEWINB62yhDUUODnHLj/albums?offset=0&limit=20&include_groups=album,single,compilation,appears_on",
          "items" : [ {
            "album_group" : "single",
            "album_type" : "single",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/3pwiEWINB62yhDUUODnHLj"
              },
              "href" : "https://api.spotify.com/v1/artists/3pwiEWINB62yhDUUODnHLj",
              "id" : "3pwiEWINB62yhDUUODnHLj",
              "name" : "Smirk",
              "type" : "artist",
              "uri" : "spotify:artist:3pwiEWINB62yhDUUODnHLj"
            } ],
            "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/2lyTqNuuO6gX2DLF14BIG3"
            },
            "href" : "https://api.spotify.com/v1/albums/2lyTqNuuO6gX2DLF14BIG3",
            "id" : "2lyTqNuuO6gX2DLF14BIG3",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b27339d585e6517325ea3477f9dc",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e0239d585e6517325ea3477f9dc",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d0000485139d585e6517325ea3477f9dc",
              "width" : 64
            } ],
            "name" : "Earl Grey",
            "release_date" : "2019-04-11",
            "release_date_precision" : "day",
            "total_tracks" : 1,
            "type" : "album",
            "uri" : "spotify:album:2lyTqNuuO6gX2DLF14BIG3"
          }, {
            "album_group" : "appears_on",
            "album_type" : "single",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/0veRi35QVYy1s45lxxv5tQ"
              },
              "href" : "https://api.spotify.com/v1/artists/0veRi35QVYy1s45lxxv5tQ",
              "id" : "0veRi35QVYy1s45lxxv5tQ",
              "nam[...]
