  <div class="split left">
    <div class="centered">
      <section class="user-info">
        <h2 style="color:white">Hello, <%= current_user.username %></h2>
          <ul>
            <h4 style="color:white"><li>Your current zipcode: <%= current_user.zipcode %></li><h4>
          </ul>
      </section>
    </div>
  </div>

  <div class="split right">
    <div class="centered">
      <section class="favorite-artists">
        <h2 style="color:white">Favorites:</h2>
        <ul>
          <% if @favorites == [] %>
            <p1 style="color:white"><li>No Favorite Artists... yet</li><p1>
          <% else %>
            <% @favorites.each do |favorite| %>
            <div class= <%= "artist-#{favorite.artist_id}"%> >
              <% name = favorite.get_name_by_id(favorite.artist_id) %>
                <h3><li> <%= link_to "#{name}", "/artists/#{favorite.artist_id}"%> </li></h3>
              <% end %>
            <% end %>
            </div>
        </ul>
      </section>
    </div>
</div>
