---
http_interactions:
- request:
    method: post
    uri: https://accounts.spotify.com/api/token
    body:
      encoding: UTF-8
      string: client_id=<SPOTIFY_CLIENT_ID>&client_secret=<SPOTIFY_CLIENT_SECRET>&code&grant_type=authorization_code&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Fapi%2Fv1%2Fuser
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error":"invalid_request","error_description":"code must be supplied"}'
  recorded_at: Thu, 30 Jul 2020 21:04:14 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Www-Authenticate:
      - Bearer realm="spotify", error="invalid_request", error_description="Only valid
        bearer authentication supported"
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "error": {
            "status": 400,
            "message": "Only valid bearer authentication supported"
          }
        }
  recorded_at: Thu, 30 Jul 2020 21:04:14 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/3p9nYbFprckRkRxuCFVQcx/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BQASvvaPxno6FtvnxdQYx4kni1AoYcBSIzw8AvPareQQvjwml90wgOtKUDjfVI2BGcVxf2h_3zV-udBHm2SSE6TZW4KgcTcI5ckVsNMfOIz4EC40Ys8cYPd869iVpgNhspukeLE_vMsZsWgGXlCSlFv1clJhMrmLVhwlG56XakQRw6drUk7u2O6Kju0VdnAx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/3p9nYbFprckRkRxuCFVQcx/albums?offset=0&limit=20&include_groups=album,single,compilation,appears_on",
          "items" : [ {
            "album_group" : "album",
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/3p9nYbFprckRkRxuCFVQcx"
              },
              "href" : "https://api.spotify.com/v1/artists/3p9nYbFprckRkRxuCFVQcx",
              "id" : "3p9nYbFprckRkRxuCFVQcx",
              "name" : "Colfax Speed Queen",
              "type" : "artist",
              "uri" : "spotify:artist:3p9nYbFprckRkRxuCFVQcx"
            } ],
            "available_markets" : [ "AD", "AE", "AL", "AR", "AT", "AU", "BA", "BE", "BG", "BH", "BO", "BR", "BY", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "DZ", "EC", "EE", "EG", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HR", "HU", "ID", "IE", "IL", "IN", "IS", "IT", "JO", "JP", "KW", "KZ", "LB", "LI", "LT", "LU", "LV", "MA", "MC", "MD", "ME", "MK", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "OM", "PA", "PE", "PH", "PL", "PS", "PT", "PY", "QA", "RO", "RS", "RU", "SA", "SE", "SG", "SI", "SK", "SV", "TH", "TN", "TR", "TW", "UA", "US", "UY", "VN", "XK", "ZA" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/50gel3tXRhgh6VOuTYyKS0"
            },
            "href" : "https://api.spotify.com/v1/albums/50gel3tXRhgh6VOuTYyKS0",
            "id" : "50gel3tXRhgh6VOuTYyKS0",
            "images" : [ {
              "height" : 640,
              "url" : "https://i.scdn.co/image/ab67616d0000b273f2892be8c7580b4cd3a231c3",
              "width" : 640
            }, {
              "height" : 300,
              "url" : "https://i.scdn.co/image/ab67616d00001e02f2892be8c7580b4cd3a231c3",
              "width" : 300
            }, {
              "height" : 64,
              "url" : "https://i.scdn.co/image/ab67616d00004851f2892be8c7580b4cd3a231c3",
              "width" : 64
            } ],
            "name" : "Dirty Mirror",
            "release_date" : "2019-10-16",
            "release_date_precision" : "day",
            "total_tracks" : 11,
            "type" : "album",
            "uri" : "spotify:album:50gel3tXRhgh6VOuTYyKS0"
          }, {
            "album_group" : "album",
            "album_type" : "album",
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/3p9nYbFprckRkRxuCFVQcx"
              },
              "href" : "https://api.spotify.com/v1/artists/3p9nYbFprckRkRxuCFVQcx",
              "id" : "3p9nYbFprckRkRxuCFVQcx",
              "name" : [...]
