<!DOCTYPE html>
<html>
  <head>
    <br><br><br><br><br><br><br><br>
    <h1 align="center">Welcome to Local Spotlight</h1>
    <br><br>
    <h1 align="center"><%=link_to "Login with Spotify", "/api/v1/login"%></h1> 
  </head>
  <body>  
   
    <%= yield %>
  </body>
</html>
