<!DOCTYPE html>
<html>
  <head>
    <div class="focus">
    <br><br><br><br>
    <h1 align="center" style="color:white">Welcome to Local Spotlight</h1>
    <br><br>
    <h1 align="center" id="login"><%=link_to "Login with Spotify", "/api/v1/login"%></h1>
  </div>
  </head>
  <body>

    <%= yield %>
  </body>
</html>
